<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href='/'>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16">
    <title>TriDigital</title>
</head>
    <body>
        <nav class="navbar">
            <a href="#title" id="title" class="navbar__title">TriDigital</a>
            <ul class="navbar__list">
                <li><a href="#about">About</a></li>
                <li><a href="#team">Team</a></li>
                <!-- <li>Projects</li> -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <article class="main__hero__article">
                    <h1><span class="first__span">A digital agency wor<span class="second__span">king for the people</span></span></h1>
                </article>
                <article id="about" class="about__article">
                    <h2 class="about__head"><span class="about__span">About </span>us</h2>
                    <p class="about__text">
                        Welcome to our <b>digital agency</b>! We're here to help you grow your online presence through a range of services, including website design, social media marketing, and search engine optimization. Our team of experts is dedicated to delivering personalized solutions that meet your specific needs and goals.
                        <br>
                        We've had the pleasure of working with some amazing clients over the years, and we're proud of the results we've achieved. Check out some of our recent projects, including the redesign of XYZ Company's website which increased their online sales by 50% in just 3 months.
Ready to take your online presence to the next level? Contact us today to schedule a free consultation and see how we can help you achieve your goals. Don't wait - the sooner we start working together, the sooner you'll see results!

                    </p>
                </article>
                <article id="team" class="team__article">
                    <h2 class="team__head"><span class="team__span">Our </span> Team</h2>
                    <article class="team__cards">
                        <ul>
                            <li>
                                <div class="scene scene--card">
                                    <div class="card">
                                        <div class="card__face card__face--front"><img src="{% static 'img/stoyan.png' %}" alt=""><p></p></div>
                                        <div class="card__face card__face--back">
                                            <p class="team__member">Stoyan Kanev</p>
                                            <p class="team__position">Software Engineer</p>
                                            <p class="team__experience">3 years of Experience</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="scene scene--card">
                                    <div class="card">
                                        <div class="card__face card__face--front"><img src="{% static 'img/misho.png' %}" alt=""></div>
                                        <div class="card__face card__face--back">
                                            <p class="team__member">Mihail Punov</p>
                                            <p class="team__position">Marketing Expert</p>
                                            <p class="team__experience">2 years of Experience</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="scene scene--card">
                                    <div class="card">
                                        <div class="card__face card__face--front"><img src="{% static 'img/georgi.png' %}" alt=""></div>
                                        <div class="card__face card__face--back">
                                            <p class="team__member">Georgi Gushev</p>
                                            <p class="team__position">Graphic Designer</p>
                                            <p class="team__experience">4 years of Experience</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                </article>
                 <article class="contact" id="contact">
                     <h2 class="team__head"><span class="team__span">Contact </span> Us</h2>
                     <form method="POST" action="{% url 'index' %}">
                         {{ form.as_p }}
                         {% csrf_token %}
                        <button class="submit__button" type="submit">Create</button>
                    </form>

                </article>
            </section>
        </main>
    </body>
    <script src="{% static 'script.js' %}"></script>
</html>

<!-- Welcome to our digital agency! We're here to help you grow your online presence through a range of services, including website design, social media marketing, and search engine optimization. Our team of experts is dedicated to delivering personalized solutions that meet your specific needs and goals.
We've had the pleasure of working with some amazing clients over the years, and we're proud of the results we've achieved. Check out some of our recent projects, including the redesign of XYZ Company's website which increased their online sales by 50% in just 3 months.
Ready to take your online presence to the next level? Contact us today to schedule a free consultation and see how we can help you achieve your goals. Don't wait - the sooner we start working together, the sooner you'll see results!
-->
