<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="stylesheet" href="../../static/reset.css">#}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    {#    <link rel="stylesheet" href="../../static/style.css">#}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="16x16">

    <title>Home</title>
</head>
<body>
<header class="header" id="top">
    <nav class="nav">
{#        <p class="nav__title">TECHTITANS</p>#}
        <img class="logo" src="{% static 'img/logo.svg' %}" alt="">
        <ul class="nav__list">
            <li class="nav__item"><a href="#about">About Us</a></li>
            <li class="nav__item"><a href="#offer">What We Offer</a></li>
            <li class="nav__item"><a href="#team">Our Team</a></li>
            <!-- <li class="nav__item"><a href="#projects">Projects</a></li> -->
            <li class="nav__item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <h1 class="main__h1">Wellcome to TECHTITANS official website!</h1>

    <a class="top__imager" href="#top"><i class="fas fa-angle-double-up"></i></a>
    <section>
        <article class="about" id="about">
            <h2 class="about__h2">About Us</h2>
            <div class="about__wrapper">
                <div class="wrapper__1">
                    <p class="text1">Welcome to freelance website, designed by three talented individuals with expertise
                        in software development, marketing, and graphic design. Our program is tailored to meet the
                        unique needs of private clients seeking high-quality work in these areas. </p>
                    <img class="about__image img1" src="../../static/img/2022.png" alt="">
                </div>
                <div class="wrapper__2">
                    <img class="about__image img2" src="../../static/img/2022.png" alt="">
                    <p class="text2">Our team of freelancers has a wealth of experience and a proven track record of
                        delivering exceptional results in their respective fields. We provide a streamlined process that
                        ensures clear communication, timely delivery, and transparent pricing. </p>
                </div>
            </div>
        </article>
        <article class="offer" id="offer">
            <h2 class="offer__h2">What We Offer</h2>
            <div class="offer__wrapper">
                <article class="it">
                    <ul>
                        <h2 class="offer__title">IT</h2>
                        <li>Web/Software Development</li>
                        <li>System Administration</li>
                    </ul>
                </article>
                <article class="marketing">
                    <ul>
                        <h2 class="offer__title">Marketing</h2>
                        <li>SEO</li>
                        <li>Content Managing</li>
                        <li>Facebook Marketing</li>
                        <li>Google Ads</li>
                        <li>E-mail Marketing</li>
                        <li>Google Analytics</li>
                        <li>CopyWriting</li>
                    </ul>
                </article>
                <article class="design">
                    <ul>
                        <h2 class="offer__title">Graphic Design</h2>
                        <li>UI/UX Design</li>
                        <li>Image Editing</li>
                        <li>Video Editing</li>
                        <li>Logo Creations</li>
                    </ul>
                </article>
            </div>
        </article>
        <article class="team" id="team">
            <h2 class="team__h2">Our Team</h2>
            <ul class="team__list">
                <li class="team__item">
                    <img src="{% static 'img/person.png' %}" alt="">
                    <p class="name">Stoyan Kanev</p>
                    <p class="skill">Developer</p>
                </li>
                <li class="team__item">
                    <img src="{% static 'img/person.png' %}" alt="">
                    <p class="name">Mihail Punov</p>
                    <p class="skill">Marketing Expert</p>
                </li>
                <li class="team__item">
                    <img src="{% static  'img/person.png' %}" alt="">
                    <p class="name">Georgi Gushev</p>
                    <p class="skill">Graphic Designer</p>
                </li>
            </ul>
        </article>
        <article class="contact" id="contact">
            <h2 class="contact__h2">Contact Us</h2>
            <form method="POST" action="{% url 'index' %}">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="submit__button" type="submit">Create</button>
                {% if messages %}
                    {% for message in messages %}
                        <div class="text-center alert alert-{{ message.tags }}">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>

        </article>

    </section>
</main>
</body>
</html>